/*
  -Name: Daniel Pruden
  -UnityID: pdpruden
  -Date: 11/19/2018
  -Assignment: webpagesGL
  -Description: Guided Lab Assignment, About Me Webpage
 */

p {
	font-family: Times ;
	font-size:16px;
	color: #CC0000;

  }




#photo {

	max-width:250px ;
	max-height:300px ;

	}





.table-border {

	border: 1px solid #CC0000 ;
       
       }